/*general styling*/

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body { 
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Karma', serif;
}

.container {
  margin: auto;
  max-width: 800px;
}

.icon {
  display: flex;
  flex-direction: row;
  color: #fafaff;
  margin-right: 20PX;
 
}

.add-task:hover { 
    cursor: pointer;
  } 

/*header*/

header {
  display: flex;
  justify-content: space-between;
}

/*title*/

#task {
  display: inline-block;
  font-size: 50px;
  font-weight: lighter;
  color: #d6cfcb;
  font-family: 'Old Standard TT', serif;
}

#lists {
  display: inline-block;
  font-size: 50px;
  margin-left: 10px;
  font-weight: lighter;
  color: #d6cfcb;
  font-family: 'Allison', cursive;
}

/*add task icon*/

.add-task {
  display: flex;
  align-items: center;
  font-size: 40px;
}

.add-task p {
  margin-right: 30px;
  color: #d6cfcb
}

/*Task cards section*/

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*task cards */

.card {
  /* border: 1px solid #fff; */
  border-radius: 15px;
  height: 350px;
  width: 220px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative; 
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
} 



#todoTitle {
  font-size: 30px;
  text-align: center;
  color: #edf2fb;
}

/*subtasks*/

.completed {
  text-decoration: line-through;
  text-align: center;
  color: red;
  font-size: 25px;
}

ul {
  list-style: none;
}

.lists {
  text-decoration: none;
  color: #ffffff;
  margin-top: 0;
  display: flex;
  padding-left: 20px;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  width: 200px;
}

 #markDone { 
  font-size: 25px ;
  margin-left: 70px;
  color: #e5e5e5;
  font-weight: lighter;
  visibility: visible;
}

 #markRemove {
  font-size: 25px;
  margin-left: 10px;
  color: #e5e5e5;
  font-weight: lighter;
}


 #markDone:hover { 
  cursor: pointer;
  color: #cce3de;
  
}

#markRemove:hover {
  cursor: pointer;
  color: #e4b1ab;
  
}

.cardsSection .icon { 
  position: fixed;
  font-size: 25px;
  bottom: 8px;
  right: 16px;
  gap: 20px;

}

#iconSubtask i:hover{ 
  cursor: pointer;
  color: #cce3de;
}

#iconDelete i:hover { 
  cursor: pointer;
  color: #e4b1ab;
}


/* pop-up cards*/
.new-list,
.new-subtask {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 40%;
  height: 175px;
  width: 375px;
  border: 1px solid#979dac;
  background-color: #f8f8ff;
 
  box-shadow: 4px 4px 10px rgb(172, 170, 170);
  border-radius: 12px;
}

.new-list:hover,
.new-subtask:hover {
  cursor: pointer;
}

.popup-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.new-list p,
.new-subtask p {
  font-size: 22px;
  color: #14292E;
  text-align: center;
  padding-top: 10px;
}

.new-list input,
.new-subtask input {
  height: 25px;
  width: 230px;
  border: 1px solid gray;
  background-color: #f8f8ff;
  box-shadow: 0 0 4px rgb(172, 170, 170);
  border-radius: 5px;
}


button {
  text-align: center;
  border: none;
  border-radius: 20px;
  width: 80px;
  height: 35px;
  padding: 10px;
  color: white;
  font-size: medium;
}

#add, 
#addSubtask { 
  background-color: #2e6f95;
}


#cancelBtn { 
  background-color: #892b64;
}

.options {
  display: flex;
  gap: 20px;
}
